# Terraform
terraform/.terraform/
terraform/tfplan
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/errored.tfstate
backend.hcl

# Secrets
*.env
.env.*
alb-iam-policy.json

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
